// ------------------------------
// edX Pattern Library: Components - Lists

// About: styling and support for various formats of lists meant to group related content
// ----------------------------

// #CONFIG
// #UTILITY
// #BASE
// #ALIGNMENT
// #DIVIDED
// #SIZES
// #BULLETED
// #INLINE
// #LINK LIST
// #GROUPED

// ----------------------------

// ----------------------------
// #CONFIG
// ----------------------------
$list-decoration-margin: spacing-horizontal(small);


// ----------------------------
// #UTILITY
// ----------------------------
%list {
    @extend %list-unstyled;
    margin-bottom: spacing-vertical(base);

    .item {
        display: list-item;
        table-layout: fixed;
        margin-bottom: spacing-vertical(xx-small);
        list-style-position: outside;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// ----------------------------
// #BASE
// ----------------------------
.list {
    @extend %list;
}

// CASE: list with complex content
.list {

    .item-content {
        display: table-cell;
        @include padding-left(spacing-horizontal(small));
        vertical-align: top;
    }
}

// CASE: with icons
.list {

    .item-icon {
        @include size(20px);
        background: red;
        display: inline-block;
    }

    .item-content {

    }
}

// CASE: with images
.list {

    .item-img {
        @include size(20px);
        background: red;
        display: inline-block;
    }

    .item-content {

    }
}

// CASE: with complex content
.list {

    // heading
    .item-hd {
        margin-bottom: spacing-vertical(base);
    }

    // copy
    .item-copy {

    }
}

// ----------------------------
// #ALIGNMENT
// ----------------------------
.list .item {


    &.align-right {
        @extend %text-align-right;
    }

    &.align-left {
        @extend %text-align-left;
    }

    &.align-center {
        @extend %text-align-center;
    }
}


// ----------------------------
// #DIVIDED
// ----------------------------
.list-divided {

    .item {
        padding-bottom: spacing-vertical(x-small);
        border-bottom: rem(1) solid palette(grayscale-cool, x-light);
        margin-bottom: spacing-vertical(x-small);
        @extend %clear-last-child;
    }
}


// ----------------------------
// #SIZES
// ----------------------------
// x-small
.list-xs {

    .icon {

    }

    .img {

    }

    .item {
        font-size: font-size(x-small);
        line-height: line-height(x-small);
    }

    .item-hd {

    }

    .item-copy {

    }
}

// sm
.list-sm {

    .icon {

    }

    .img {

    }

    .item {
        font-size: font-size(small);
        line-height: line-height(large);
    }

    .item-hd {

    }

    .item-copy {

    }
}

// md (base)
.list-md {

    .icon {

    }

    .img {

    }


    .item {
        font-size: font-size(base);
        line-height: line-height(large);
    }

    .item-hd {

    }

    .item-copy {

    }
}

// lg
.list-lg {

    .icon {

    }

    .img {

    }

    .item {
        font-size: font-size(large);
        line-height: line-height(large);
    }

    .item-hd {

    }

    .item-copy {

    }
}

// xl
.list-xl {

    .icon {

    }

    .img {

    }

    .item {
        font-size: font-size(x-large);
        line-height: line-height(x-large);
    }

    .item-hd {

    }

    .item-copy {

    }
}


// ----------------------------
// #BULLETED
// ----------------------------
.list-bulleted {
    @extend %list;

    .item {

    }
}


// ----------------------------
// #ORDERED
// ----------------------------
.list-ordered {
    @extend %list;

    .item {

    }
}


// ----------------------------
// #INLINE
// ----------------------------
.list-inline {
    @extend %list;

    .item {
        display: inline-block;
        @include margin-right(spacing-vertical(x-small));

        &:last-child {
            @include margin-right(0);
        }
    }
}

// ----------------------------
// #LINK LIST
// ----------------------------
.list-links {
    @extend %list;

    .item {

    }
}


// ----------------------------
// #GROUPED
// ----------------------------
.list-group {
    @extend %list;

    .item {

    }
}

// divided

// celled
