// ------------------------------
// edX Pattern Library Site: Layouts

// About: styling for generic layouts and responsive support.

// ------------------------------
// #DOC SITE LAYOUT
// ------------------------------
// header
.wrapper-header-app {
    padding: spacing-vertical(small) spacing-horizontal(base);

    @include susy-breakpoint($bp-screen-md, $susy-default) {
        padding: spacing-vertical(small) spacing-horizontal(large);
    }
}

.header-app {
    @include container();

    .logo,
    .logo-img,
    .logo-app-name {
        display: inline-block;
        vertical-align: middle;
    }

    .logo-img {
        width: rem(70);
        @include margin-right(spacing-horizontal(small));
    }

    // CASE: has off-canvas navigation
    .btn-stage-left {
        display: inline-block;
        vertical-align: middle;
        width: span(1);
        @include margin-right(gutter());
    }
}

.header-app-title {
    display: inline-block;
    vertical-align: middle;
}

// main content
.pldoc-wrapper-content-main {

}

// element
.pldoc-wrapper-element {
    padding: spacing-vertical(small) spacing-horizontal(base);
    border-bottom: rem(2) solid palette(grayscale, mid-dark);
    box-shadow: inset spacing-horizontal(xx-small) 0 0 0 $transparent;

    &:last-child {
        border-bottom: none;
    }

    @include susy-breakpoint($bp-screen-md, $susy-default) {
        padding: spacing-vertical(mid-large) spacing-horizontal(large);
    }
}

.pldoc-element {
    @include container();
}

.pldoc-element-header {
    @include clearfix();
}

.pldoc-element-title {
    margin-bottom: spacing-vertical(x-small);

    @include susy-breakpoint($bp-screen-xl, $susy-default) {
        @include span(6 first);
        margin-bottom: 0;
    }
}



.pldoc-element-meta {
    @include susy-breakpoint($bp-screen-xl, $susy-default) {
        @include span(6 last);
        @include text-align(right);
    }

    .meta {
        display: block;

        @include susy-breakpoint($bp-screen-md, $susy-default) {
            display: inline-block;
            vertical-align: middle;
            @include margin-right(spacing-horizontal(small));
        }
    }

    .meta-updated {
        margin-bottom: spacing-vertical(x-small);

        @include susy-breakpoint($bp-screen-md, $susy-default) {
            margin-bottom: 0;
        }
    }
}

// footer
.wrapper-footer-app {
    padding: spacing-vertical(small) spacing-horizontal(base);

    @include susy-breakpoint($bp-screen-md, $susy-default) {
        padding: spacing-vertical(small) spacing-horizontal(large);
    }
}

.footer-app {
    @include container();
}

// ------------------------------
// #GENERAL CANVAS LAYOUT
// ------------------------------
.pldoc-view-example {
    // @extend %depth-0;

    .pldoc-wrapper-view-header {
        margin-bottom: spacing-vertical(base);
        padding: spacing-vertical(mid-small) gutter();
        @extend %depth-1;
    }

    .pldoc-view-header {
        @include container();
    }

    .example {
        margin-bottom: spacing-vertical(base);

        &:last-child {
            margin-bottom: 0;
        }
    }
}
