<div class="wrapper-footer-app">
    <footer class="footer-app" role="contentinfo" id="footer-app">
            <nav class="footer-app-nav">
                <ul class="list list-legal">
                    <li class="nav-item">
                        <a class="action" href="{{site.baseurl}}about.html">About this Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="action" rel="external" href="https://github.com/edx/ux-pattern-library/blob/master/README.md#contributions">Contribute &amp; Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="action" rel="external" href="{{site.github.repo}}">View on Github</a>
                    </li>
                </ul>
            </nav>

            <div class="footer-app-copyright">
                <p class="copy">&copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> edX Inc. All rights reserved except where noted.</p>

                <p class="copy">edX, Open edX and the edX and Open edX logos are registered trademarks or trademarks of edX Inc.</p>
            </div>
    </footer>
</div>
